* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#divone {
    background-color: #F7F4FF;
    padding: 12px 24px;
    width: 1183px;
    margin-left: auto;
}
#nextmove {
    width: 147px;
    margin-right: 270px;
    display: inline-block;
}
#ulone, #about, #what, #contact, #help, #navi {
    display: inline-block;
}
#ulone {
    list-style-type: none;
}
#what {
    margin-left: 20px;
    margin-right: 20px;
}
#contact {
    margin-left: 20px;
    margin-right: 20px;
}
#help {
    margin-right: 290px;
}
#contactus {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    color: #8E26C0;
    background-color: #F7F4FF;
}
#imgone {
    width: 610px;
    margin: auto;
    display: inline-block;
}
#boxone {
    max-width: 1299px;
    margin: 0 auto;
    vertical-align: middle;
}
#textone {
    color: #535862;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#whatwe {
    color: #000;
    font-size: 40px;
    text-align: center;
    
}
#olone {
    color: #000;
    text-align: left; 
    font-size: 24px;
    list-style-position: inside;
}
#boxtwo {
    max-width: 644px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
#boxthree {
    max-width: 610px;
    display: inline-block;
    vertical-align: middle;
}
#fullbox {
    margin-top: 154px;
}
#fl {
    margin-top: 12px;
    margin-bottom: 12px;
}
#reco {
    margin-top: 12px;
}
#yuterti {
    width: 905px;
    display: inline-block;
    text-align: center;
}
#hc {
    text-align: center;
    color: #000;
    font-size: 56px;
}
#yutt {
    width: 905px;
    display: inline-block;
}
#texttwo {
    text-align: center;
    color: #535862;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 28px;
}
#mtliani {
    width: 1221px;
    text-align: center;
    margin: auto;
}
#oriertshi {
    width: 1221px;
    padding: 32px;
    border-radius: 16px;
    background: #F7F4FF;
    margin: auto;
    text-align: left;
}
#erti {
    padding: 20px;
    width:403px;
    border-radius: 16px;
    background-color: #FFF;
    height: 474px;
    display: inline-block;
}
#adresasi {
    text-align: left;
}

#adresa {
    padding: 10px;
    width: 56px;
    border-radius: 50px;
    background-color: #F7F4FF;
    vertical-align: middle;
    margin-right: 16px;
}
#adresp {
    text-align: left;
    color: #000;
    font-size: 20px;
}
#adresasbox { 
    display: inline-block;
    vertical-align: middle;
}
#pirvelii {
    color: #6D5F8B;
    font-size: 16px;
}
#mailasi {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}
#maila {
    padding: 10px;
    width: 56px;
    border-radius: 50px;
    background-color: #F7F4FF;
    vertical-align: middle;
    margin-right: 16px;
}
#mailasbox {
    display: inline-block;
    vertical-align: middle;
}
#mailp {
    text-align: left;
    color: #000;
    font-size: 20px;
}
#meoree {
    color: #6D5F8B;
    font-size: 16px;
}
#telefonasi {
    text-align: left;
}
#telefona {
    padding: 10px;
    width: 56px;
    border-radius: 50px;
    background-color: #F7F4FF;
    vertical-align: middle;
    margin-right: 16px;
}
#telefonasbox {
    display: inline-block;
    vertical-align: middle;
}
#telefonp {
    color: #000;
    font-size: 20px;
}
#mesamee {
    color: #6D5F8B;
    font-size: 16px;
}
label {
    display: block;
    font-size: 14px;
    color: #1B003D;
    margin-bottom: 8px;
}
#ori {
    display: inline-block;
    vertical-align: middle;
    margin-left: 24px;
    width: 700px;
}
#snd {
    color: #1B003D;
    font-size: 32px;
    margin-bottom: 16px;
}
#pleasewrite {
    max-width: 730px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    margin-bottom: 24px;
}
#urmail {
    max-width: 730px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #8E26C0;
    margin-bottom: 24px;
}
#writesmth {
    border-radius: 16px;
    border: 1px solid #8E26C0;
    padding: 12px 16px;
    height: 146px;
    max-width: 730px;
    width: 100%;
    display: block;
    resize: none;
    margin-bottom: 24px;
}
#sendbutton {
    color: #FFF;
    background-color: #8E26C0;
    border-radius: 8px;
    width: 140px;
    padding: 12px 24px;
    font-size: 16px;
}
#butttondiv {
    max-width: 730px;
    width: 100%;
    text-align: right;
}



